<div class="mb-6">
  <app-title title="Variables"></app-title>
</div>
<section class="flex flex-wrap justify-around mb-6">
  @for (type of dataTypes; track $index) {

  <app-variable-box-draw
    [variableName]="type"
    (onClick)="selectType($event)"
  ></app-variable-box-draw>

  }
</section>
<section class="flex flex-col justify-around">
  <div class="flex justify-around">
    <div class="flex flex-col justify-around">
      @for (item of selectedType().examples; track $index) {
      <div class="mb-4">
        <app-variable-box-draw
          [variableName]="item"
          (onClick)="selectExample($event)"
        ></app-variable-box-draw>
      </div>
      }
    </div>
    <div class="content-center">
      <app-code-legazy [lines]="lines"></app-code-legazy>
    </div>
  </div>
</section>
