<div class="flex justify-around">
  <div>
    <div class="flex flex-col gap-4">
      <app-variable-box
        variableName="ShowCount"
        [variableValue]="showCount().toString()"
      >
      </app-variable-box>

      <app-variable-box
        variableName="Count"
        [variableValue]="count().toString()"
      >
      </app-variable-box>

      <app-button (onClick)="upCount()" text="Up"></app-button>
    </div>
  </div>
  <div>
    <app-code [lines]="lines"></app-code>
  </div>
</div>
