<section>
  <app-selection-option (selectedLevelChange)="selectedLevelChange($event)" />
</section>
<section role="set-info" class="flex flex-col justify-between">
  @if(currentLevel() === "Nivel 1"){
  <section class="flex flex-col">
    <app-variable-box variableName="name" [variableValue]="name()" />
    <app-input
      placeholder="name"
      (onChangeEvent)="saveInHiddenVariableInputData($event, 'name')"
    />
    <app-button text="Set" (onClick)="setData('name')" />
    <app-code [lines]="linesName" />
  </section>
  } @if(currentLevel() === "Nivel 2"){
  <section class="flex flex-col">
    <app-variable-box variableName="age" [variableValue]="age()" />
    <app-input
      placeholder="age"
      (onChangeEvent)="saveInHiddenVariableInputData($event, 'age')"
    />
    <app-button text="Set" (onClick)="setData('age')" />
    <app-code [lines]="linesAge" />
  </section>
  } @if(currentLevel() === "Nivel 3"){
  <section>
    <div class="flex flex-col">
      <div class="flex">
        <app-variable-box
          variableName="person.name"
          [variableValue]="person().name"
        />
        <app-variable-box
          variableName="person.surname"
          [variableValue]="person().surname"
        />
      </div>
      <div class="flex">
        <app-input
          placeholder="name"
          (onChangeEvent)="saveInHiddenVariableInputData($event, 'person.name')"
        />
        <app-input
          placeholder="surname"
          (onChangeEvent)="
            saveInHiddenVariableInputData($event, 'person.surname')
          "
        />
      </div>
      <app-button text="Set" (onClick)="setData('person')" />
      <app-code [lines]="linesPerson" />
    </div>
  </section>
  } @if(currentLevel() === "Nivel 4"){
  <section>
    <div class="flex flex-col">
      <div class="flex">
        <app-variable-box
          variableName="person.name"
          [variableValue]="person().name"
        />
        <app-variable-box
          variableName="person.surname"
          [variableValue]="person().surname"
        />
      </div>
      <div class="flex">
        <app-input
          placeholder="name"
          (onChangeEvent)="saveInHiddenVariableInputData($event, 'person.name')"
        />
        <app-input
          placeholder="surname"
          (onChangeEvent)="
            saveInHiddenVariableInputData($event, 'person.surname')
          "
        />
      </div>
      <app-button text="Set" (onClick)="setData('person')" />
      <app-code [lines]="linesPersonCustomCompare" />
    </div>
  </section>
  }
  <section>
    <app-event-history
      title="Signal Tracker"
      [history]="appEventHistory"
      stateName="Count Number:"
    ></app-event-history>
  </section>
</section>
