<div class="flex justify-around">
  <div>
    <div class="flex flex-col gap-4">
      <app-variable-box
        variableName="ShowCount"
        [variableValue]="showCount().toString()"
        (click)="onShowCountChange()"
      >
      </app-variable-box>

      <app-variable-box
        variableName="Count"
        [variableValue]="count().toString()"
        (click)="upCount()"
      >
      </app-variable-box>

      <app-variable-box
        variableName="conditionalCount"
        [variableValue]="conditionalCount().toString()"
      >
      </app-variable-box>

      <br />
      <app-dependencies-status
        [dependencies]="dependencies"
        [signalsInside]="signalsInside"
        computedName="conditionalCount"
      ></app-dependencies-status>
    </div>
  </div>
  <div>
    <app-event-history
      title="conditionalCount Recomputations"
      [history]="conditionalCountHistory"
    ></app-event-history>
    <app-event-history
      title="All Signals Recomputations"
      [history]="appEventHistory"
    ></app-event-history>
  </div>
  <div>
    <app-code [lines]="lines"></app-code>
  </div>
</div>
