<div class="flex items-center mr-auto">
  <div class="inline-flex w-12 h-12">
    <img
      src="https://tailwindcomponents.com/storage/avatars/njkIbPhyZCftc4g9XbMWwVsa7aGVPajYLRXhEeoo.jpg"
      alt="aji"
      class="relative p-1 w-12 h-12 object-cover rounded-2xl"
    /><span
      class="absolute w-12 h-12 inline-flex border-2 rounded-2xl border-gray-600 opacity-75"
    ></span>
    <span></span>
  </div>

  <div class="flex flex-col ml-3 min-w-0">
    <div class="font-medium leading-none text-gray-100">
      {{ event.firstName }} {{ event.surname }}
    </div>
    <p class="text-sm text-gray-500 leading-none mt-1 truncate">
      {{ event.date | date : "HH:mm:ss" }}
    </p>
  </div>
</div>
