<app-title title="How do we make this wrapper?" />

<div class="flex flex-col justify-around mt-3">
  <app-text-description
    text="You create writable signals by calling the signal function with the signal's initial value:"
  ></app-text-description>
  <section class="flex flex-wrap justify-around my-6">
    @for (type of dataTypes; track $index) {

    <app-variable-box-draw
      [variableName]="type.text"
      (onClick)="selectType($event)"
    ></app-variable-box-draw>

    }
  </section>
  <section>
    <app-code [lines]="lines" />
  </section>
</div>
