<div class="component-container">
  <div class="profile-container">
    <h2>{{ fullName() }}!</h2>
    <div class="profile-info">
      <label for="firstName">Name:</label>
      <input type="text" placeholder="Name" #firstNameInput />
      <br />
      <label for="surname">Surname:</label>
      <input type="text" placeholder="Surname" #surnameInput />
      <br />
      <button class="btn btn-primary" (click)="setValue()">Set</button>
    </div>
  </div>
  <div class="current-values-container">
    <div class="current-value-title bold text-center">Current Signal</div>
    <div class="current-value-data">
      <div><span class="bold">Name:</span> {{ firstName() }}</div>
      <div><span class="bold">Surname:</span> {{ surname() }}</div>
    </div>
    @if (clicksInTheButton.length) {
    <p>Clicks</p>
    <div class="clicks-events-container">
      @for (click of clicksInTheButton.reverse(); track $index) {
      <div>
        {{ click.date | date : "HH:mm:ss" }} {{ click.firstName }}
        {{ click.surname }}
      </div>
      }
    </div>
    }
  </div>
</div>
