<div class="profile-cards-container">
  <div class="flex-grow">
    <app-profile-card
      title="Persona 1"
      (signalComputed)="addComputedSignal($event, 0)"
    />
  </div>
  <div class="flex-grow">
    <app-profile-card
      title="Persona 2"
      (signalComputed)="addComputedSignal($event, 1)"
    />
  </div>
  <div class="flex-grow">
    <app-profile-card
      title="Persona 3"
      (signalComputed)="addComputedSignal($event, 2)"
    />
  </div>
</div>

<div class="executed-task-container">
  <h2 class="boxs-title">Executed Track</h2>
  <div class="boxs-container">
    @for(array of computedTracker.reverse(); track array){
    <div class="box-container">
      @for(element of array; track element){
      <div class="box">
        <div class="date-box">{{ element.date | date : "mediumTime" }}</div>
        <div class="data-box">
          <div>Name: {{ element.name }}</div>
          <div>Surname: {{ element.surname }}</div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
