<div class="tree">
  <ul>
    <li>
      <span class="node">main</span>
      <ul>
        <li>
          <span class="node">section</span>
          <ul>
            <li><span class="node">h2</span> "Introduction"</li>
            <li>
              <span class="node">p</span> "This is a simple example of a DOM
              tree."
            </li>
          </ul>
        </li>
        <li>
          <span class="node">article</span>
          <ul>
            <li><span class="node">h3</span> "Article Title"</li>
            <li>
              <span class="node">p</span> "Some interesting content here."
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
