<div class="tree">
  <ul>
    <li>
      <div class="branch">
        <div class="node">main</div>
        <ul>
          <li>
            <div class="branch">
              <div class="node">section</div>
              <ul>
                <li><div class="leaf">h2 "Introduction"</div></li>
                <li><div class="leaf">p "This is a simple example..."</div></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="branch">
              <div class="node">article</div>
              <ul>
                <li><div class="leaf">h3 "Article Title"</div></li>
                <li><div class="leaf">p "Some interesting content..."</div></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
