<app-title [title]="title"></app-title>
<section class="my-6">
  <app-text-description
    text="A signal is a wrapper around a value that notifies interested consumers when
  that value changes."
  ></app-text-description>
</section>
<app-wrapper-animation></app-wrapper-animation>
<div>
  <section class="flex flex-wrap justify-around my-6">
    @for (type of dataTypes; track $index) { @if(type.isContainer){
    <app-container-variable-box-draw
      [variableName]="type.text"
    ></app-container-variable-box-draw>
    } @else{
    <app-variable-box-draw
      [variableName]="type.text"
      (onClick)="convertToContainer($event)"
    ></app-variable-box-draw>
    } }
  </section>
</div>
<div class="flex justify-center">
  <div class="max-w-fit">
    <app-code [lines]="signalWrapperLines"></app-code>
  </div>
</div>

@if(false){
<p>
  Signals can contain any value, from primitives to complex data structures.
</p>
}
