.counter-container {
    display: flex;
    /* Alinea los elementos horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.counter-display {
    font-size: 24px;
    margin-right: 20px;
}

.counter-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #3e8e41;
    /* Color verde más oscuro al pasar el ratón */
}

/* Estilos en el archivo .css */
div {
    display: flex;
    /* Alinea los elementos horizontalmente */
    align-items: center;
    /* Alinea verticalmente al centro */
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    /* Espacio entre el input y el botón */
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    /* Color de fondo azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

button:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el mouse */
}