<app-column-and-code-layout title="Writable Signal" [codeLines]="lines">
  <section>
    <div class="counter-container">
      <div class="counter-display">Amount: {{ count() }}</div>
    </div>
    <br />
    <div class="input-group">
      <input
        #signalSetInput
        type="text"
        class="form-control"
        placeholder="Enter a value"
      />
      <button class="btn btn-primary" (click)="setValue()">Set</button>
    </div>
  </section>
</app-column-and-code-layout>
