<div class="graph">
  <div class="node" id="main">main</div>
  <div class="node" id="section">section</div>
  <div class="node" id="h2">h2</div>
  <div class="node" id="introduction">"Introduction"</div>
  <div class="node" id="p1">p</div>
  <div class="node" id="text1">"This is a simple example of a DOM tree."</div>
  <div class="node" id="article">article</div>
  <div class="node" id="h3">h3</div>
  <div class="node" id="articleTitle">"Article Title"</div>
  <div class="node" id="p2">p</div>
  <div class="node" id="text2">"Some interesting content here."</div>

  <div class="connection" data-from="main" data-to="section"></div>
  <div class="connection" data-from="section" data-to="h2"></div>
  <div class="connection" data-from="h2" data-to="introduction"></div>
  <div class="connection" data-from="section" data-to="p1"></div>
  <div class="connection" data-from="p1" data-to="text1"></div>
  <div class="connection" data-from="main" data-to="article"></div>
  <div class="connection" data-from="article" data-to="h3"></div>
  <div class="connection" data-from="h3" data-to="articleTitle"></div>
  <div class="connection" data-from="article" data-to="p2"></div>
  <div class="connection" data-from="p2" data-to="text2"></div>
</div>
