<div class="flex text-center pb-3">
  <div class="flex-grow">
    <app-title title="Variables and their updates on the screen"></app-title>
  </div>
  @if(sliderNumber > 0){

  <button
    (click)="beforeSlider()"
    class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-1 px-2 rounded"
  >
    Prev
  </button>
  } @if (sliderNumber < 3) {

  <button
    (click)="nextSlider()"
    class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-1 px-2 rounded"
  >
    Next
  </button>
  }
</div>

<div class="grid grid-cols-2 gap-2">
  @if(sliderNumber === 0 || sliderNumber === 2){
  <div>
    <app-count-increment></app-count-increment>
    <app-tree [htmlCode]="htmlCode"></app-tree>
  </div>
  <div>
    <app-code textSize="text-base" [htmlCode]="htmlCode"></app-code>
  </div>
  } @else if (sliderNumber === 1) {
  <div>
    <app-count-increment></app-count-increment>
    <app-tree [htmlCode]="htmlCode"></app-tree>
  </div>
  <div>
    <img
      src="/assets/images/signals/simple_count_in_javascript.png"
      class="w-full object-contain"
    />
  </div>
  } @else if(sliderNumber === 3){
  <div>
    <app-count-increment></app-count-increment>
    <div class="flex justify-center mt-8">
      <img src="/assets/images/signals/simple_count_increment.png" />
    </div>
  </div>
  <div>
    <app-code textSize="text-base" [htmlCode]="htmlAngularCode"></app-code>
  </div>
  }
</div>
