<app-title title="Variables and their updates on the screen"></app-title>

<div class="grid grid-cols-2">
  <div>
    <section>
      <app-tree [htmlCode]="htmlCode"></app-tree>
    </section>
    <section
      class="p-4 bg-gray-100 rounded-md shadow-md grid grid-cols-2 gap-4 items-center"
    >
      <div class="flex flex-col items-center justify-center">
        <p class="text-lg font-semibold text-gray-800 mb-4 flex items-center">
          <span>El valor es:</span>
          <span class="ml-2 text-blue-500 font-bold">{{ count }}</span>
        </p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-600 focus:outline-none text-white font-bold py-2 px-4 rounded transition duration-300"
          (click)="increment()"
        >
          Increment
        </button>
      </div>
      <div
        class="text-base text-gray-700 flex flex-col items-center justify-center"
      >
        <div>Multiplo de 2</div>
        <div>
          <span class="font-medium">{{ !(count % 2) ? "Si" : "No" }}</span>
        </div>
      </div>
      <div
        class="text-base text-gray-700 flex flex-col items-center justify-center"
      >
        <div>Multiplo de 3</div>
        <div>
          <span class="font-medium">{{ !(count % 3) ? "Si" : "No" }}</span>
        </div>
      </div>
    </section>
  </div>
  <div>
    <section>
      <app-code textSize="text-base" [htmlCode]="htmlCode"></app-code>
    </section>
  </div>
</div>
