<app-two-column-layout title="Variables and their updates on the screen">
  <app-sliders-control-buttons
    menuRight
    (sliderChanged)="onSliderChanged($event)"
    class="content-center"
  ></app-sliders-control-buttons>
  <div left>
    <app-count-increment></app-count-increment>
    @switch (sliderNumber) { @case (0) {
    <app-tree [htmlCode]="htmlCode" [nodesToShow]="nodesToShow()"></app-tree>
    } @case (1) {
    <app-tree [htmlCode]="htmlCode"></app-tree>
    } @case (2) {
    <div class="flex justify-center mt-8">
      <img src="/assets/images/signals/simple_count_increment.png" />
    </div>
    } }
  </div>
  <div right>
    @switch (sliderNumber) { @case (0) {
    <app-code
      textSize="text-base"
      [htmlCode]="htmlCode"
      (codeClick)="codeClickHandler($event)"
    ></app-code>
    } @case (1) {
    <img
      src="/assets/images/signals/simple_count_in_javascript.png"
      class="w-full object-contain"
    />
    } @case (2) {
    <div>
      <app-code textSize="text-base" [htmlCode]="htmlAngularCode"></app-code>
    </div>
    } }
  </div>
</app-two-column-layout>
