<div class="rounded-md overflow-hidden shadow-md p-4 bg-gray-800">
  @for (item of lines(); track $index) {
  <div
    class="text-2xl font-mono whitespace-pre-wrap break-words py-2 cursor-pointer"
    [ngClass]="{
      'bg-green-700 text-white': item.active,
      'bg-gray-800 text-gray-300': !item.active,
      'hover:bg-green-800 hover:text-white': !item.active
    }"
    [class]="textSize"
    (click)="onLineClick(item)"
  >
    @for(element of item.line; track $index){
    <span
      [ngClass]="{
    'text-green-600': element.color,
  }"
    >
      {{ element.text }}
    </span>
    }
  </div>
  }
</div>
