<div class="rounded-md overflow-hidden shadow-md p-4 bg-gray-800 select-none">
  @for (item of codeLines(); track $index) {
  <div
    class="text-2xl font-mono whitespace-pre-wrap break-words py-2 cursor-pointer flex"
    [ngClass]="{
      'bg-green-700 text-white': item.selected,
      'bg-gray-800 text-gray-300': !item.selected,
      'hover:bg-green-800 hover:text-white': !item.selected
    }"
    [class]="textSize"
    (click)="selectBy === 'Line' ? onLineClick(item) : null"
  >
    @for(element of item.elements; track $index){
    <div
      [ngClass]="{
        'bg-green-700': element.selected
      }"
      (click)="selectBy === 'Element' ? onElementClick(item, element) : null"
    >
      <span
        [ngClass]="{
          'text-green-600': element.reservedWord
        }"
      >
        {{ element.text }}
      </span>
    </div>
    }
  </div>
  }
</div>
