<ul class="py-4">
  @for ( menuItem of menuItems; track $index) {
  <app-menu-option
    [menuItem]="menuItem"
    [levelState]="getMenuOptionStatus(menuItem.id, undefined)"
  />
  @if (menuItem.subLevels.length > 0) {
  <ul>
    @for (item of menuItem.subLevels; track $index) {
    <li class="text-center">|</li>
    <li
      class="text-center"
      [routerLink]="[item.path]"
      routerLinkActive="bg-green-500"
    >
      {{ item.id }}
    </li>
    }
  </ul>
  } }
</ul>
