<div class="executed-task-container">
  <h1
    class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white"
  >
    {{ title }}
  </h1>
  <div class="boxs-container">
    <div class="box-container">
      @for(element of computedTracker.reverse(); track element){
      <div class="box">
        <div class="date-box">{{ element.date | date : "HH:mm:ss" }}</div>
        <div class="data-box">
          <div>Name: {{ element.firstName }}</div>
          <div>Surname: {{ element.surname }}</div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
