@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}
