<section>
  <app-selection-option (selectedLevelChange)="selectedLevelChange($event)" />
</section>
<section class="flex gap-8">
  <section role="set-info" class="flex flex-col w-2/5 mt-4">
    @if(currentLevel() === 1){
    <section class="flex flex-col">
      <app-variable-box variableName="name" [variableValue]="name()" />
      <app-input
        placeholder="name"
        (onChangeEvent)="saveInHiddenVariableInputData($event, 'name')"
      />
      <app-button text="Set" (onClick)="setData('name')" />
    </section>
    } @if(currentLevel() === 2){
    <section class="flex flex-col">
      <app-variable-box variableName="age" [variableValue]="age()" />
      <app-input
        placeholder="age"
        (onChangeEvent)="saveInHiddenVariableInputData($event, 'age')"
      />
      <app-button text="Set" (onClick)="setData('age')" />
    </section>
    } @if(currentLevel() === 3){
    <section>
      <div class="flex flex-col">
        <div class="flex">
          <div class="w-full">
            <app-variable-box
              variableName="person.name"
              [variableValue]="person().name"
            />
          </div>
          <div class="w-full">
            <app-variable-box
              variableName="person.surname"
              [variableValue]="person().surname"
            />
          </div>
        </div>
        <div class="flex">
          <div class="w-full">
            <app-input
              placeholder="name"
              (onChangeEvent)="
                saveInHiddenVariableInputData($event, 'person.name')
              "
            />
          </div>
          <div class="w-full">
            <app-input
              placeholder="surname"
              (onChangeEvent)="
                saveInHiddenVariableInputData($event, 'person.surname')
              "
            />
          </div>
        </div>
        <app-button text="Set" (onClick)="setData('person', true)" />
      </div>
    </section>
    } @if(currentLevel() === 4){
    <section>
      <div class="flex flex-col">
        <div class="flex">
          <div class="w-full">
            <app-variable-box
              variableName="person.name"
              [variableValue]="person().name"
            />
          </div>
          <div class="w-full">
            <app-variable-box
              variableName="person.surname"
              [variableValue]="person().surname"
            />
          </div>
        </div>
        <div class="flex">
          <div class="w-full">
            <app-input
              placeholder="name"
              (onChangeEvent)="
                saveInHiddenVariableInputData($event, 'person.name')
              "
            />
          </div>
          <div class="w-full">
            <app-input
              placeholder="surname"
              (onChangeEvent)="
                saveInHiddenVariableInputData($event, 'person.surname')
              "
            />
          </div>
        </div>
        <app-button text="Set" (onClick)="setData('person', false)" />
      </div>
    </section>
    }
    <section>
      <app-event-history
        title="Signal Tracker"
        [history]="appEventHistory"
        stateName="Count Number:"
      ></app-event-history>
    </section>
  </section>
  <section class="w-3/5">
    <app-code [lines]="codeLinesForCurrentLevel" textSize="text-lg" />
  </section>
</section>
